include *.txt
recursive-include cookbook *.ipynb
recursive-include dalio *.py
recursive-include dalio *.pyc
recursive-include docs *.aux
recursive-include docs *.bat
recursive-include docs *.buildinfo
recursive-include docs *.cls
recursive-include docs *.css
recursive-include docs *.doctree
recursive-include docs *.fdb_latexmk
recursive-include docs *.fls
recursive-include docs *.html
recursive-include docs *.idx
recursive-include docs *.ilg
recursive-include docs *.ind
recursive-include docs *.inv
recursive-include docs *.ist
recursive-include docs *.js
recursive-include docs *.log
recursive-include docs *.odt
recursive-include docs *.out
recursive-include docs *.pdf
recursive-include docs *.pickle
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.sty
recursive-include docs *.tex
recursive-include docs *.toc
recursive-include docs *.txt
recursive-include docs *.xdy
recursive-include docs Makefile
recursive-include examples *.csv
recursive-include examples *.png
recursive-include examples *.py
recursive-include tests *.ipynb
recursive-include tests *.json
recursive-include tests *.png
recursive-include tests *.py
recursive-include tests *.xls
recursive-include tests *.xlsx
